
.red {
    color: #ff0000;
  }
  
.bold{
    font-weight: bold;
  }
  
  
.Cockpit button{
    background-color: green;
    font: inherit;
    color: white;
    border-radius: 30px;
    box-shadow: 6px 6px 7px #111111, -6px -6px 7px #2d2d2d;
    padding: 8px;
    cursor: pointer;
  }
  
.Cockpit button:hover {
    background-color: lightgreen;
    color: black;
   }
  
.Cockpit button.Red {
    background-color: red;
  }
  
.Cockpit button.Red:hover{
    background-color: salmon;
  }